#screen {
	margin-top: 2em;
	margin-bottom: 0em;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

#bottom {
	border-top: 2px dashed lightgray;
}

#buttons {
	padding: 5px; 
	margin-top: 5px;
	
	/* Center buttons */
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

#buttons > button {
	border: none;
	background: none;

	font-size: 1.5em;
}

#buttons > button:active {
	font-size: 1.7em;
}

#messages {
	text-align: center;
	font-family: monospace;
	margin-bottom: 1em;
}

#msg-old {
	color: gray;
}